body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }

  .calculation {
    color: white;
    font-size: 45px;
    padding: 0px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .gray-button {
    background-color: rgb(51, 51, 51);
    color: white;
  }
  .calculation-button {
    border-radius: 50px;
    font-size: 25px;
    border: none;
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .orange-button {
    background-color: orange;
    color: white;
  }
  .clear-button {
    font-size: 15px;
  }